* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    padding-top: 80px;
}
.aboutme{
    padding-top: 100px;
}
.aboutphoto{
    text-align:right;
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .projects{
     padding-top: 100px;
 }
.teamphoto{
    width: 100%;
    height: 50vh;
}
.blogs{
    padding-top: 80px;
}